html {
  background-color: lightcyan;
}

/* div {
  border: 1px dotted black;
} */

/* CROSS PRODUCTS */

#xprod-grid {
  display: grid;
  grid-template-rows: 24px 5px 24px;
  grid-template-columns: 34px 15px 34px 75px 50px auto;
  row-gap: 0;
  column-gap: 5px;
  margin: 10px;
}

#xprod-n1-div {grid-area: 1 / 1 / 2 / 2;}
#xprod-d1-div {grid-area: 3 / 1 / 4 / 2;}
#xprod-n2-div {grid-area: 1 / 3 / 2 / 4;}
#xprod-d2-div {grid-area: 3 / 3 / 4 / 4;}
#xprod-l1-div {grid-area: 2 / 1 / 3 / 2;}
#xprod-l2-div {grid-area: 2 / 3 / 3 / 4;}
#xprod-eq-div {grid-area: 1 / 2 / 4 / 3;}

#xprod-eq {
  line-height: 51px;
}

#xprod-calc-div {
  grid-area: 1 / 4 / 4 / 5;
  line-height: 51px;
}

#xprod-clear-div {
  grid-area: 1 / 5 / 4 / 6;
  line-height: 51px;
}

#xprod-status-div {
  grid-area: 1 / 6 / 4 / 7;
  vertical-align: middle;
  line-height: 51px;
}

/* TRANSVERSALS */

#trvrsl-grid {
  display: grid;
  grid-template-rows: 24px 24px 24px 24px;
  grid-template-columns: 130px 34px 34px 75px 50px auto;
  row-gap: 0;
  column-gap: 5px;
  margin: 10px;
}

#trvrsl-image-div  {grid-area: 1 / 1 / 5 / 2;}
#trvrsl-input1-div {grid-area: 1 / 2 / 2 / 3;}
#trvrsl-input2-div {grid-area: 2 / 2 / 3 / 3;}
#trvrsl-input3-div {grid-area: 3 / 2 / 4 / 3;}
#trvrsl-input4-div {grid-area: 4 / 2 / 5 / 3;}
#trvrsl-input5-div {grid-area: 1 / 3 / 2 / 4;}
#trvrsl-input6-div {grid-area: 2 / 3 / 3 / 4;}
#trvrsl-input7-div {grid-area: 3 / 3 / 4 / 4;}
#trvrsl-input8-div {grid-area: 4 / 3 / 5 / 4;}

#trvrsl-calc-div {
  grid-area: 1 / 4 / 5 / 5;
  line-height: 51px;
}

#trvrsl-clear-div {
  grid-area: 1 / 5 / 5 / 6;
  line-height: 51px;
}

#trvrsl-parallel-div {
  grid-area: 1 / 6 / 3 / 7;
  vertical-align: middle;
  line-height: 25px;
}

label[for="trvrsl-parallel"] {
  vertical-align: middle;
  line-height: 25px;
}

#trvrsl-status-div {
  grid-area: 3 / 6 / 5 / 7;
  vertical-align: middle;
  line-height: 25px;
}

/* MISCELLANEOUS */

.innum {
  width: 32px;
  background-color: rgb(220, 255, 255);
}

.innum::-webkit-inner-spin-button,
.innum::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frac-bar {
  margin: 0px;
  border-top: 2px solid black;
}

.simple-text {
  margin: 0px;
}

button        {background-color: lightskyblue; cursor: pointer; width: 100%; height: 100%;}
button:focus  {background-color: lightskyblue; outline: none;}
button:hover  {background-color: lightseagreen;}
button:active {background-color: rgb(208, 233, 255);}
